#logo
{
    display: block;
    margin: 0 auto;
    width: 150px;
}

body
{
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    color: #6495b0;
}

.hero
{
    background-image: url("galaxy.gif");
    background-size: cover;
    padding: 10px 0 625px 0 ;
}

.btn
{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color: rgb(195, 195, 196);
    line-height: 35px;
    width: 200p;
    padding: 3 6 3 6;
    font-weight: bold;
    font-size: 20px;
    font-family: inherit;
    color: black;
    font-weight: 300;
}

.title 
{
    text-align: center;
    font-size: 50px;
    border: none;
    text-shadow: 2px 2px 1px #acd7ee;
}

.underline
{
    border-bottom: 4px solid white;
}

.TS 
{
    font-size: 40px;
    font-family: 'Orbitron', sans-serif;
    color: #6495b0;
    text-align: center;
}
