.logo{
    display: block;
    width: 500px;
    margin-top: 200px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.search-bar{
    display: block;
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    line-height: 20px;
    border: 1px line #dfe1e5;
    font-size: 20px;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.button1 {
    border: none;
    width: auto;
    line-height: 20px;
    background: #dfe1e5;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 8px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.button2 {
    border: none;
    width: auto;
    line-height: 20px;
    background: #dfe1e5;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 8px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.btn-wrapper{
    display: flex;
    justify-content: center;
}
